<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.DishOrderMapper">
  <resultMap id="BaseResultMap" type="pojo.DishOrder">
    <id column="dish_table_serial" jdbcType="INTEGER" property="dishTableSerial" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="order_dish_time" jdbcType="VARCHAR" property="orderDishTime" />
    <result column="dish_table_type" jdbcType="SMALLINT" property="dishTableType" />
    <result column="is_send" jdbcType="SMALLINT" property="isSend" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dish_table_serial, order_id, order_dish_time, dish_table_type, is_send
  </sql>
  <select id="selectByExample" parameterType="pojo.DishOrderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dish_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dish_order
    where dish_table_serial = #{dishTableSerial,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dish_order
    where dish_table_serial = #{dishTableSerial,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.DishOrderExample">
    delete from dish_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.DishOrder">
    insert into dish_order (dish_table_serial, order_id, order_dish_time, 
      dish_table_type, is_send)
    values (#{dishTableSerial,jdbcType=INTEGER}, #{orderId,jdbcType=VARCHAR}, #{orderDishTime,jdbcType=VARCHAR}, 
      #{dishTableType,jdbcType=SMALLINT}, #{isSend,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="pojo.DishOrder">
    insert into dish_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dishTableSerial != null">
        dish_table_serial,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="orderDishTime != null">
        order_dish_time,
      </if>
      <if test="dishTableType != null">
        dish_table_type,
      </if>
      <if test="isSend != null">
        is_send,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dishTableSerial != null">
        #{dishTableSerial,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderDishTime != null">
        #{orderDishTime,jdbcType=VARCHAR},
      </if>
      <if test="dishTableType != null">
        #{dishTableType,jdbcType=SMALLINT},
      </if>
      <if test="isSend != null">
        #{isSend,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.DishOrderExample" resultType="java.lang.Long">
    select count(*) from dish_order
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dish_order
    <set>
      <if test="record.dishTableSerial != null">
        dish_table_serial = #{record.dishTableSerial,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDishTime != null">
        order_dish_time = #{record.orderDishTime,jdbcType=VARCHAR},
      </if>
      <if test="record.dishTableType != null">
        dish_table_type = #{record.dishTableType,jdbcType=SMALLINT},
      </if>
      <if test="record.isSend != null">
        is_send = #{record.isSend,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dish_order
    set dish_table_serial = #{record.dishTableSerial,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      order_dish_time = #{record.orderDishTime,jdbcType=VARCHAR},
      dish_table_type = #{record.dishTableType,jdbcType=SMALLINT},
      is_send = #{record.isSend,jdbcType=SMALLINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.DishOrder">
    update dish_order
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orderDishTime != null">
        order_dish_time = #{orderDishTime,jdbcType=VARCHAR},
      </if>
      <if test="dishTableType != null">
        dish_table_type = #{dishTableType,jdbcType=SMALLINT},
      </if>
      <if test="isSend != null">
        is_send = #{isSend,jdbcType=SMALLINT},
      </if>
    </set>
    where dish_table_serial = #{dishTableSerial,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.DishOrder">
    update dish_order
    set order_id = #{orderId,jdbcType=VARCHAR},
      order_dish_time = #{orderDishTime,jdbcType=VARCHAR},
      dish_table_type = #{dishTableType,jdbcType=SMALLINT},
      is_send = #{isSend,jdbcType=SMALLINT}
    where dish_table_serial = #{dishTableSerial,jdbcType=INTEGER}
  </update>
</mapper>