<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MallMapMapper">
  <resultMap id="BaseResultMap" type="pojo.MallMap">
    <id column="mall_map_serial" jdbcType="INTEGER" property="mallMapSerial" />
    <result column="map_floor_no" jdbcType="VARCHAR" property="mapFloorNo" />
    <result column="map_pic" jdbcType="VARCHAR" property="mapPic" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="last_modified" jdbcType="VARCHAR" property="lastModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    mall_map_serial, map_floor_no, map_pic, create_time, last_modified
  </sql>
  <select id="selectByExample" parameterType="pojo.MallMapExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from mall_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mall_map
    where mall_map_serial = #{mallMapSerial,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mall_map
    where mall_map_serial = #{mallMapSerial,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.MallMapExample">
    delete from mall_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.MallMap">
    insert into mall_map (mall_map_serial, map_floor_no, map_pic, 
      create_time, last_modified)
    values (#{mallMapSerial,jdbcType=INTEGER}, #{mapFloorNo,jdbcType=VARCHAR}, #{mapPic,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{lastModified,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.MallMap">
    insert into mall_map
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="mallMapSerial != null">
        mall_map_serial,
      </if>
      <if test="mapFloorNo != null">
        map_floor_no,
      </if>
      <if test="mapPic != null">
        map_pic,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModified != null">
        last_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="mallMapSerial != null">
        #{mallMapSerial,jdbcType=INTEGER},
      </if>
      <if test="mapFloorNo != null">
        #{mapFloorNo,jdbcType=VARCHAR},
      </if>
      <if test="mapPic != null">
        #{mapPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModified != null">
        #{lastModified,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.MallMapExample" resultType="java.lang.Long">
    select count(*) from mall_map
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update mall_map
    <set>
      <if test="record.mallMapSerial != null">
        mall_map_serial = #{record.mallMapSerial,jdbcType=INTEGER},
      </if>
      <if test="record.mapFloorNo != null">
        map_floor_no = #{record.mapFloorNo,jdbcType=VARCHAR},
      </if>
      <if test="record.mapPic != null">
        map_pic = #{record.mapPic,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModified != null">
        last_modified = #{record.lastModified,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update mall_map
    set mall_map_serial = #{record.mallMapSerial,jdbcType=INTEGER},
      map_floor_no = #{record.mapFloorNo,jdbcType=VARCHAR},
      map_pic = #{record.mapPic,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      last_modified = #{record.lastModified,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.MallMap">
    update mall_map
    <set>
      <if test="mapFloorNo != null">
        map_floor_no = #{mapFloorNo,jdbcType=VARCHAR},
      </if>
      <if test="mapPic != null">
        map_pic = #{mapPic,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModified != null">
        last_modified = #{lastModified,jdbcType=VARCHAR},
      </if>
    </set>
    where mall_map_serial = #{mallMapSerial,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.MallMap">
    update mall_map
    set map_floor_no = #{mapFloorNo,jdbcType=VARCHAR},
      map_pic = #{mapPic,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      last_modified = #{lastModified,jdbcType=VARCHAR}
    where mall_map_serial = #{mallMapSerial,jdbcType=INTEGER}
  </update>
</mapper>