<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ShopPicMapper">
  <resultMap id="BaseResultMap" type="pojo.ShopPic">
    <id column="shop_pic_serial" jdbcType="INTEGER" property="shopPicSerial" />
    <result column="shop_account_id" jdbcType="INTEGER" property="shopAccountId" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="pic_description" jdbcType="VARCHAR" property="picDescription" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="last_modified" jdbcType="VARCHAR" property="lastModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shop_pic_serial, shop_account_id, pic_path, pic_description, create_time, last_modified
  </sql>
  <select id="selectByExample" parameterType="pojo.ShopPicExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_pic
    where shop_pic_serial = #{shopPicSerial,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_pic
    where shop_pic_serial = #{shopPicSerial,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.ShopPicExample">
    delete from shop_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.ShopPic">
    insert into shop_pic (shop_pic_serial, shop_account_id, pic_path, 
      pic_description, create_time, last_modified
      )
    values (#{shopPicSerial,jdbcType=INTEGER}, #{shopAccountId,jdbcType=INTEGER}, #{picPath,jdbcType=VARCHAR}, 
      #{picDescription,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{lastModified,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="pojo.ShopPic">
    insert into shop_pic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopPicSerial != null">
        shop_pic_serial,
      </if>
      <if test="shopAccountId != null">
        shop_account_id,
      </if>
      <if test="picPath != null">
        pic_path,
      </if>
      <if test="picDescription != null">
        pic_description,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModified != null">
        last_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopPicSerial != null">
        #{shopPicSerial,jdbcType=INTEGER},
      </if>
      <if test="shopAccountId != null">
        #{shopAccountId,jdbcType=INTEGER},
      </if>
      <if test="picPath != null">
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="picDescription != null">
        #{picDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModified != null">
        #{lastModified,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.ShopPicExample" resultType="java.lang.Long">
    select count(*) from shop_pic
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_pic
    <set>
      <if test="record.shopPicSerial != null">
        shop_pic_serial = #{record.shopPicSerial,jdbcType=INTEGER},
      </if>
      <if test="record.shopAccountId != null">
        shop_account_id = #{record.shopAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.picPath != null">
        pic_path = #{record.picPath,jdbcType=VARCHAR},
      </if>
      <if test="record.picDescription != null">
        pic_description = #{record.picDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModified != null">
        last_modified = #{record.lastModified,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_pic
    set shop_pic_serial = #{record.shopPicSerial,jdbcType=INTEGER},
      shop_account_id = #{record.shopAccountId,jdbcType=INTEGER},
      pic_path = #{record.picPath,jdbcType=VARCHAR},
      pic_description = #{record.picDescription,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      last_modified = #{record.lastModified,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.ShopPic">
    update shop_pic
    <set>
      <if test="shopAccountId != null">
        shop_account_id = #{shopAccountId,jdbcType=INTEGER},
      </if>
      <if test="picPath != null">
        pic_path = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="picDescription != null">
        pic_description = #{picDescription,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModified != null">
        last_modified = #{lastModified,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_pic_serial = #{shopPicSerial,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.ShopPic">
    update shop_pic
    set shop_account_id = #{shopAccountId,jdbcType=INTEGER},
      pic_path = #{picPath,jdbcType=VARCHAR},
      pic_description = #{picDescription,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=VARCHAR},
      last_modified = #{lastModified,jdbcType=VARCHAR}
    where shop_pic_serial = #{shopPicSerial,jdbcType=INTEGER}
  </update>
</mapper>