<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ShopDiscountMapper">
  <resultMap id="BaseResultMap" type="pojo.ShopDiscount">
    <id column="shop_discount_serial" jdbcType="INTEGER" property="shopDiscountSerial" />
    <result column="discount_name" jdbcType="VARCHAR" property="discountName" />
    <result column="discount_percent" jdbcType="REAL" property="discountPercent" />
    <result column="member_type_id" jdbcType="INTEGER" property="memberTypeId" />
    <result column="shop_account_id" jdbcType="INTEGER" property="shopAccountId" />
    <result column="create_time" jdbcType="VARCHAR" property="createTime" />
    <result column="last_modified" jdbcType="VARCHAR" property="lastModified" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    shop_discount_serial, discount_name, discount_percent, member_type_id, shop_account_id, 
    create_time, last_modified
  </sql>
  <select id="selectByExample" parameterType="pojo.ShopDiscountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_discount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_discount
    where shop_discount_serial = #{shopDiscountSerial,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_discount
    where shop_discount_serial = #{shopDiscountSerial,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pojo.ShopDiscountExample">
    delete from shop_discount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pojo.ShopDiscount">
    insert into shop_discount (shop_discount_serial, discount_name, 
      discount_percent, member_type_id, shop_account_id, 
      create_time, last_modified)
    values (#{shopDiscountSerial,jdbcType=INTEGER}, #{discountName,jdbcType=VARCHAR}, 
      #{discountPercent,jdbcType=REAL}, #{memberTypeId,jdbcType=INTEGER}, #{shopAccountId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=VARCHAR}, #{lastModified,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pojo.ShopDiscount">
    insert into shop_discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopDiscountSerial != null">
        shop_discount_serial,
      </if>
      <if test="discountName != null">
        discount_name,
      </if>
      <if test="discountPercent != null">
        discount_percent,
      </if>
      <if test="memberTypeId != null">
        member_type_id,
      </if>
      <if test="shopAccountId != null">
        shop_account_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastModified != null">
        last_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopDiscountSerial != null">
        #{shopDiscountSerial,jdbcType=INTEGER},
      </if>
      <if test="discountName != null">
        #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="discountPercent != null">
        #{discountPercent,jdbcType=REAL},
      </if>
      <if test="memberTypeId != null">
        #{memberTypeId,jdbcType=INTEGER},
      </if>
      <if test="shopAccountId != null">
        #{shopAccountId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModified != null">
        #{lastModified,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pojo.ShopDiscountExample" resultType="java.lang.Long">
    select count(*) from shop_discount
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_discount
    <set>
      <if test="record.shopDiscountSerial != null">
        shop_discount_serial = #{record.shopDiscountSerial,jdbcType=INTEGER},
      </if>
      <if test="record.discountName != null">
        discount_name = #{record.discountName,jdbcType=VARCHAR},
      </if>
      <if test="record.discountPercent != null">
        discount_percent = #{record.discountPercent,jdbcType=REAL},
      </if>
      <if test="record.memberTypeId != null">
        member_type_id = #{record.memberTypeId,jdbcType=INTEGER},
      </if>
      <if test="record.shopAccountId != null">
        shop_account_id = #{record.shopAccountId,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModified != null">
        last_modified = #{record.lastModified,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_discount
    set shop_discount_serial = #{record.shopDiscountSerial,jdbcType=INTEGER},
      discount_name = #{record.discountName,jdbcType=VARCHAR},
      discount_percent = #{record.discountPercent,jdbcType=REAL},
      member_type_id = #{record.memberTypeId,jdbcType=INTEGER},
      shop_account_id = #{record.shopAccountId,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=VARCHAR},
      last_modified = #{record.lastModified,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pojo.ShopDiscount">
    update shop_discount
    <set>
      <if test="discountName != null">
        discount_name = #{discountName,jdbcType=VARCHAR},
      </if>
      <if test="discountPercent != null">
        discount_percent = #{discountPercent,jdbcType=REAL},
      </if>
      <if test="memberTypeId != null">
        member_type_id = #{memberTypeId,jdbcType=INTEGER},
      </if>
      <if test="shopAccountId != null">
        shop_account_id = #{shopAccountId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="lastModified != null">
        last_modified = #{lastModified,jdbcType=VARCHAR},
      </if>
    </set>
    where shop_discount_serial = #{shopDiscountSerial,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pojo.ShopDiscount">
    update shop_discount
    set discount_name = #{discountName,jdbcType=VARCHAR},
      discount_percent = #{discountPercent,jdbcType=REAL},
      member_type_id = #{memberTypeId,jdbcType=INTEGER},
      shop_account_id = #{shopAccountId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=VARCHAR},
      last_modified = #{lastModified,jdbcType=VARCHAR}
    where shop_discount_serial = #{shopDiscountSerial,jdbcType=INTEGER}
  </update>
</mapper>